*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style-type: none;
}
body{
    width: 100%;
    font-weight: 500;
    position: relative;
    font-family: $font-content
}
a{
    text-decoration: none;
    transition: all .3s;
}
button{
    appearance: none;
    outline: none;
}