/**
 * Site layout.
 */
.container{
    width: 90%;
    max-width: 1640px;
    margin: auto;
}
/**
 * Flexbox.
 */
.d{
    &-flex{
       display: flex; 
       flex-wrap: wrap;
    }
    &-block{
        display: block;
    }
}
.justify{
    &-between{
        justify-content: space-between;
    }
}
.align{
    &-center{
        align-items: center;
    }
}
.gap{
    &-64{
        gap: 6.4rem;
    }
    &-16{
        gap: 1.6rem;
    }
}
/**
 * Columns.
 */
 $col: 1;
 @while $col < 13 {
   .col-#{$col} {
    width: 100%/12 * $col;
}
   $col: $col + 1;
 }
