.mark {
  position: relative;
  display: inline-block;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    transform: skew(-10deg);
    transition: width 0.3 ease;
  }
  span {
    position: relative;
    z-index: 2;
    transition: color 0.3 ease;
  }
  &.black {
    &::before {
      background: $darkgrey;
    }
  }
  &.gradient {
    &::before {
      background: $gradient;
    }
    span {
      color: $darkgrey;
    }
  }
  /**
 * Animation.
 */
  &.hidden {
    &.black {
      &::before {
        left: -110%;
      }
      span {
        color: $darkgrey;
      }
    }
  }
  &.show {
    &::before {
      left: -1.6rem;
    }
    span {
      color: $green;
    }
  }
}
