.button{
    border-radius: 9px;
    padding: 1rem 6.4rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
	transition: all 0.4s cubic-bezier(.86, .01, .15, .99);
    transform: perspective(1px) translateZ(0);
    color: $darkgrey;
    font-weight: 800;
    font-size: 1.8rem;
    &::before{
        content: '';
        width: 150%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -5%;
        transform: skew(-10deg);
        z-index: -1;
        transition: 0.4s;
        clip-path: inset(0 100% 0 0);
    }
    &:hover{
        &::before{
            clip-path: inset(0 0 0 0);
        }

    }
    &.gradient{
        background: $gradient;
        &::before{
            background: $green;
        }
        
    }
    &.black{
        background: $darkgrey;
        color: white;
        &:hover{
            color: $darkgrey;
            &::before{
                background: $gradient;
            }
        }
    }
    &.outline{
        
        &-black{
            background: transparent;
            border: 1px solid $darkgrey;
            &:hover{
                border: 1px solid transparent;
                &:before{
                    background: $gradient;
                }
            }
        }
    }
}
@media (max-width: $screen_2xl) {
    .button{
        padding: 1rem 3.2rem;
        font-size: 1.6rem;
    }
}