.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  width: 85vw;
  height: 100%;
  max-height: 85vh;
  video {
    width: 100%;
    max-height: 80vh;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

/* Styling for the close button */
.close {
  position: absolute;
  top: 10px;
  right: 2rem;
  cursor: pointer;
  color: white;
  font-size: 4rem;
}

@media (max-width: $screen_lg) {
  .modal{
    &-content{
      width: 95vw;
      height: auto;
      max-height: none;
      padding: 0;
    }
  }
}