.mask {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $green;
  z-index: 2;
}
.content {
  opacity: 0;
  transform: translateY(50px);
}
.portfolio {
  background: url("../img/home/bg-pricing.webp") top center no-repeat;
  background-size: 100% auto;
  padding-top: 12rem;
  &-grid {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 2rem;
  }
  &-item {
    height: 222px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &::before {
      content: "";
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );
      pointer-events: none;
    }

    &::after {
      content: "";
      width: 0%;
      height: 100%;
      background: $gradient;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s ease;
      z-index: 2;
      pointer-events: none;
    }

    img {
      max-width: 100%;
      display: block;
      object-fit: cover;
      pointer-events: none;
    }

    h3 {
      color: white;
      position: absolute;
      left: 1.5rem;
      bottom: 1.5rem;
    }

    span {
      position: absolute;
      top: 50%;
      left: -20%;
      transform: translate(0, -50%);
      font-size: 1.5rem;
      text-transform: uppercase;
      white-space: nowrap;
      transition: 0.1s ease-out;
      animation: float-text 40s linear infinite;
      animation-delay: 0.3s;
      z-index: 5;
      opacity: 0;
      padding: 20px 0;
      pointer-events: none;
    }

    &:hover {
      &::after {
        width: 110%;
      }
      span {
        opacity: 1;
      }
    }
  }
}

@keyframes float-text {
  0% {
    left: -20%;
  }

  50% {
    left: -100%;
  }

  100% {
    left: -20%;
  }
}

@media (max-width: $screen_sm) {
  .portfolio {
    padding-top: 8rem;
    &-grid {
      grid-template-columns: repeat(2, 1fr);
    }
    &-item {
      height: 150px;
      img{
        max-width: 100%;
      }
    }
  }
}
